{% extends 'orders/header.html' %}

{% block content %}
    <div class="container-fluid" style="position: relative;top: 50%;transform: translateY(50%);">
      <div class="row justify-content-center" style="font-weight: bold;">
        <h3>Contact details</h3>
      </div>
      <div class="row justify-content-center" style="font-family: Roboto, sans-serif;">
        <p>Our phone numbers are 8368217696 or 9711812645</p>
      </div>
      <div class="row justify-content-center" style="font-family: Roboto, sans-serif;">
        <p>Our fax number is 8373900962</p>
      </div>
      <div class="row justify-content-center" style="font-family: Roboto, sans-serif;">
        <p>Find us on Twitter @Pizzabythebay</p>
      </div>
      <div class="row justify-content-center" style="font-family: Roboto, sans-serif;">
        <p>And Instagram @Pizzabythebay</p>
      </div>
      <div class="row justify-content-center" style="font-family: Roboto, sans-serif;">
        <p>If you have any questions or comments or would like to get daily notifications on our menu you can email us at pizzabythebay@gmail.com</p>
      </div>
    </div>

{% endblock %}
