{% extends 'orders/header.html' %}

{% block content %}
    <div class="container-fluid">
      <div class="row justify-content-center" style="margin-top:50px;">
        <iframe src="https://www.google.com/maps/embed?pb=!4v1616915003165!6m8!1m7!1sCAoSLEFGMVFpcE9GbTI5YldvdXlNbllTLXVoS0x5UUFBcllQZUsxZmhfNFMybWNN!2m2!1d18.933192!2d72.8238745!3f165.99299558927558!4f-7.562302448672426!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

      </div>
      <div class="row justify-content-center" style="margin-top:50px;">

        <p style="font-family: Roboto, sans-serif; font-weight: bold;">
          Pizza by the Bay is located on Marine Drive, South Mumbai, 1km away from Nariman Point.<br>
          Address : Soona Mahal, 143, Marine Dr, Churchgate, Mumbai, Maharashtra 400020
       </p>

      </div>

    </div>

{% endblock %}
